---
import Layout from "../layouts/Layout.astro";
import Proyecto from "../components/Proyecto.jsx";
const Proyectos = [
    {
        titulo: "Rubrica Pokemon",
        descripcion: "Guarda tus equipos de Pokémon de cada juego y generación en esta página. ¡Entra ahora!",
        imagen: "http://imgfz.com/i/6g9Diha.png",
        link: "https://ignadev.store/"
    },
    {
        titulo: "Galeria de Imagenes",
        descripcion: "Este repositorio contiene un proyecto de Galería de Imágenes desarrollado con React, donde se utiliza react-router-dom para la navegación, useReducer y useContext",
        imagen:"http://imgfz.com/i/1N6SpEi.png",
        link:"https://fastidious-cascaron-e3eaab.netlify.app/"

    },
    {
        titulo: "Portafolio Aguará Guazú",
        descripcion: "Explora el portafolio de desarrollo web de Aguará Guazú Programador. Descubre proyectos, habilidades y logros en el mundo de la programación y diseño web. Todo con Astro y TailwindCSS.",
        imagen:"http://imgfz.com/i/n4sxEaY.png",
        link:"https://jazzy-taiyaki-6702af.netlify.app/"
    },
    {
        titulo: "Hoy cocino",
        descripcion: "Esta es una aplicación web para guardar tus comidas y sortear que comer. ¡Entra ahora!",
        imagen:"http://imgfz.com/i/YNlKCyp.png",
        link:"https://ignadev.online/"
    },
    {
    titulo: "News App",
    descripcion: "Esta es una pequeña aplicación de noticias construida utilizando React y Redux. La aplicación se conecta a una API de noticias para obtener las últimas noticias y permite a los usuarios guardar sus noticias favoritas.",
    imagen:"http://imgfz.com/i/VMGvCsE.png",
    link: "https://github.com/NachoBasilio/news-react-time"
    }
]
const ProyectosCursos = [
    {
        titulo: "Planificador de gastos",
        descripcion: "Este repositorio contiene un proyecto de Planificador de Gastos desarrollado con React.",
        imagen:"http://imgfz.com/i/fXAVRl3.png",
        link:"https://presupuestoreactbasilio.netlify.app/"
    },
    {
        titulo: "Seguimiento Veterinario",
        descripcion: "Este repositorio contiene un proyecto de Seguimiento Veterinario desarrollado con React.",
        imagen:"http://imgfz.com/i/gTLVe3E.png",
        link:"https://veterinariabasilio.netlify.app/"
    },
]
---

<Layout>
    <div class="container m-auto w-1/2 mt-10 flex flex-wrap justify-center my-4">
        <h2 class="text-4xl tracking-wide dark:text-zinc-200 font-bold">Proyectos Personales</h2>
    </div>
    
    <div class="container m-auto lg:w-2/3 w-auto md:flex md:flex-wrap md:justify-center">
        {Proyectos.map((proyecto) => (
            <div class="md:w-1/4 w-auto mx-2">
                <Proyecto
                    titulo={proyecto.titulo}
                    descripcion={proyecto.descripcion}
                    imagen={proyecto.imagen}
                    link={proyecto.link}
                />
            </div>
        ))}
    </div>

    <div class="container m-auto mt-10 w-1/2 flex flex-wrap justify-center my-4">
        <h2 class="text-4xl tracking-wide dark:text-zinc-200 font-bold">Proyectos Cursos</h2>
    </div>


    <div class="container m-auto lg:w-2/3 w-auto md:flex md:flex-wrap md:justify-center">
        {ProyectosCursos.map((proyecto)=>(
            <div class="md:w-1/4 w-auto mx-2">
                <Proyecto titulo={proyecto.titulo} descripcion={proyecto.descripcion} imagen={proyecto.imagen} link={proyecto.link}/>
            </div>
        ))}
    </div> 

  

    <div class="container m-auto w-1/2 flex flex-wrap justify-center my-4">
        <a class="text-aguara-600 text-xl tracking-wide" href="/">Volver a home</a>
    </div>
    
</Layout>